
{% extends "layout.html" %}

{% block content %}
<!-- Main jumbotron -->
<div class="jumbotron">

  <h1>Punjab Schools Census 2015</h1>

</div><!-- /.jumbotron -->

<div class="body-content">

  <div class="row">
      <div class="form-group">
      {{ filter_form.csrf_token }}
      {{ filter_form.district.label }}
      {{ filter_form.district }}
          </div>
  </div>
  <div class="row">
      <div class="form-group">
      {{ chart_filter.select_chart.label }}
      {{ chart_filter.select_chart }}
          </div>
  </div>
  <div class="row">
    <div id="chart_div"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://www.google.com/jsapi?autoload=
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}"></script>
    <script type='text/javascript'>
    $( window ).ready(function(event) {
        load_chart(event);
    });

    function drawPieChart(chart_data) {
        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title: 'District Chart',
            is3D: true,
            height: 400
        };

        var chart = new google.visualization.PieChart(
                document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function drawStacked(chart_data) {
        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title: 'Punjab Districts Schools Chart',
            isStacked: 'percent',
            height: 500,
            hAxis: {
                title: 'Total Schools',
                minValue: 0,
            },
            vAxis: {
                title: 'District',
                textStyle: {fontSize: 6},
            }
        };
        var chart = new google.visualization.BarChart(
                document.getElementById('chart_div'));
        chart.draw(data, options);
    }


    function drawBasicBarChart(chart_data) {
        var data = google.visualization.arrayToDataTable(chart_data);

        var options = {
            title: 'All Districts Students to Teacher Ratio',
            hAxis: {
                title: 'Number of Students Per Teacher',
                minValue: 0
            },
            vAxis: {
                title: 'District',
                textStyle: {fontSize: 6},
            }
        };

        var chart = new google.visualization.BarChart(
                document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    function drawBasicLineChart(chart_data) {

          var data = new google.visualization.DataTable();
          data.addColumn('number', 'Schools');
          data.addColumn('number', 'Number of Students Per Teacher');

          data.addRows(chart_data);

          var options = {
            hAxis: {
                title: 'Schools',
            },
            vAxis: {
              title: 'Number of Students Per Teacher'
            }
          };

          var chart = new google.visualization.LineChart(
                  document.getElementById('chart_div'));

          chart.draw(data, options);
    }

    var load_chart = function (event) {
        var dist_id = jQuery('#district').val();
        jQuery.ajax({
            type: "POST",
            url: "/charts/" + jQuery('#select_chart').val() + '/',
            dataType: 'json',
            data: {dist_id: dist_id},
            success: function (result) {
                console.log(result);
                if (typeof result.chart_type === 'undefined') {
                    if (dist_id == 'all') {
                        drawStacked(result.chart_data);
                    }
                    else {
                        drawPieChart(result.chart_data);
                    }
                }
                else {
                    if (result.chart_type.toLowerCase() == 'bar'){
                        drawBasicBarChart(result.chart_data);
                    }
                    else if(result.chart_type.toLowerCase() == 'line'){
                        drawBasicLineChart(result.chart_data);
                    }

                }
                },
                error: function () {
                    // jQuery("#packagelist").unmask_div();
                    // jQuery('<div class="error">Retrieving data failed</div>').appendTo(jQuery('#messages'));
                    // setTimeout('jQuery(".error").remove()', 3000);
                }

            });
        };
        jQuery('#select_chart').on('change', function(event) {
            load_chart(event);
        });
        jQuery('#district').on('change', function(event) {
            load_chart(event);
        });

    </script>
{% endblock %}
